*{
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans' ,sans-serif;
}

.wrapper {
    width: 1110px;
    margin: auto;
    position: relative;
}

.logo a {
    font-size: 50px;
    font-weight: bold;
    float: left;
    font-family: courier;
    color: #493D9E;
}

.menu {
    float: right;
}

nav {
    width: 100%;
    margin: auto;
    display: flex;
    line-height: 80px;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background: #FFFFFF;
    z-index: 1;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;  
}

nav ul li {
    float: left;
}

nav ul li a {
    color: black;
    font-weight: bold;
    text-align: center;
    padding: 0px 16px 0px 16px;
    text-decoration: none;
    font-family: 'Poppins';
}

nav ul li a:hover {
    text-decoration: underline;
}

section {
    margin: auto;
    display: flex;
    margin-bottom: 50px;
}

.kolom {
    margin-top: 50px;
    margin-bottom: 50px;
}

.kolom .deskripsi {
    font-size: 20px;
    font-weight: bold;
    font-family: 'comic sans';
    color: #493D9E;
}

h2 {
    font-family: 'comic sans-ms';
    font-weight: 800;
    font-size: 45px;
    margin-bottom: 20px;
    color: #493D9E;
    width: 100%;
    line-height: 50px;
}

a.tbl-biru {
    background: #D69ADE;
    border-radius: 10px;
    margin-top: 20px;
    padding: 5px 10px;
    color: #FFFFFF;
    cursor: pointer;
    font-weight: bold;

}

a.tbl-biru:hover {
    background: #493D9E;
    text-decoration: none;
}

a.tbl-kuning {
    background: #493D9E;
    border-radius: 20px;
    margin-top: 20px;
    padding: 15px 20px;
    color: #FFFFFF;
    cursor: pointer;
    font-weight: bold;
}

/*tambahan*/
a.tbl-biru, a.tbl-kuning {
    display: inline-block; 
    text-align: center;
    background: #D69ADE;
    border-radius: 20px;
    margin-top: 20px;
    padding: 15px 20px;
    color: #FFFFFF;
    cursor: pointer;
    font-weight: bold;
}

a.tbl-kuning:hover {
    background: #493D9E;
    text-decoration: none;
   
}